#canvas1 {
	position: absolute;
	border: 5px solid black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("./background.png");
}

#beetlemorph,
#player,
#player_jets {
	display: none;
}
